<div class="container">
    <form class="form-horizontal" ng-submit="doLogin()" ng-if="!processing">
        <fieldset>
            <legend>User login</legend>
            <div class="form-group">
                <label for="inputUser" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" ng-model="model.userName" id="inputUser" placeholder="Username" required />
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" ng-model="model.password" class="form-control" id="inputPassword" placeholder="Password" required />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div ng-if="model.message!=''" class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>{{model.message}}</p>
    </div>
    <div ng-if="processing">
        <div class='contain'>
            <svg height='80' width='210'>
                <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
            </svg>
            <svg height='80' width='210'>
                <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
            </svg>
            <svg height='80' width='210'>
                <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
            </svg>
            <svg height='80' width='210'>
                <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
            </svg>
            <svg height='80' width='210'>
                <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
            </svg>
            <svg height='80' width='210'>
                <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
            </svg>
            <svg height='80' width='210'>
                <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
            </svg>
            <svg height='80' width='210'>
                <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
            </svg>
            <svg height='80' width='210'>
                <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
            </svg>
            <svg height='80' width='210'>
                <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
            </svg>
        </div>
    </div>
</div>